* {
    -primary: #353639;
    -secondary: #7678ed;
    -fill: #3b3b3b;
    -secondary-hover: #6163ef;
}

.root {
    -fx-background-color: -primary;
    -fx-background-radius: 15 15 15 15;
}

.text-field {
    -fx-background-color: #ffffff;
    -fx-background-radius: 20;
    -fx-text-fill: -fill;
    -fx-prompt-text-fill: gray;
    -fx-highlight-fill: -fill;
    -fx-font-size: 16;
}

.topbar{
    -fx-background-color: -fill;
    -fx-background-radius: 15 15 0 0;
}

.topbar-button, .topbar-button-close{
    -fx-background-color: -fill;
    -fx-background-radius: 0;
    -fx-text-fill: #fff;
}

.topbar-button-close{
    -fx-background-radius: 0 15 0 0;
}

.topbar-button:hover{
    -fx-background-color: #575757;
}

.topbar-button-close:hover{
    -fx-background-color: #d91717;
}

.tab {
    -fx-focus-color: transparent;
    -fx-faint-focus-color: transparent;
    -fx-background-color: -primary;
    -fx-border-color: -primary;
    -fx-border-width: 0px 0px 2.5px 0px;
}

.tab:selected {
    -fx-border-color: -secondary;
    -fx-border-width: 0px 0px 2.5px 0px;
}

.tab-label {
    -fx-font-size: 16;
    -fx-text-fill: #ffffff;
}

.tab-header-background {
    -fx-background-color: transparent;
}

.tab-down-button {
    -fx-padding: 0;
}

.tab-down-button .arrow {
    -fx-padding: 0;
}

.tab-pane .tab-header-area {
    -fx-padding: 0 0 0 140;
}

.button-sign-in {
    -fx-font-size: 16;
    -fx-text-fill: #ffffff;
    -fx-background-radius: 20;
    -fx-background-color: -secondary;
}

.button-sign-in:hover{
    -fx-background-color: -secondary-hover;
}

.text-alredy {
    -fx-font-size: 14;
    -fx-fill: #fff;
}

.hyperlink {
    -fx-cursor: hand;
    -fx-font-size: 14;
    -fx-text-fill: #fff;
    -fx-border-color: transparent;
}
