.pane{
    -fx-background-color: #151414;
}

.anchor-pane{
    -fx-background-color: #2b2b2f;
}

.sign-in-btn{
    -fx-background-color: #ffffff;
}

.text-field{
    -fx-background-color: #2b2b2f;
    -fx-border-color: #ffffff;
    -fx-border-width: 0px 0px 2px 0px;
    -fx-text-fill: #ffffff;
}