

.anchor-pane{
    -fx-background-color: #160D1C;
}

.sign-in-btn{
    -fx-background-color: #64348c;
    -fx-text-fill: #ffffff;
}

.text-field{
    -fx-background-color: #160D1C;
    -fx-border-color: #4C2D62;
    -fx-border-width: 0px 0px 2px 0px;
    -fx-text-fill: #ffffff;
}

