.transparent{
    -fx-background-color: rgba(0,0,0,0);
}

.round-layout{
    -fx-border-radius: 50;
    -fx-border-color: #4C2D62;
}

.background-color-main-page {
    -fx-background-color: #DBD4D3;
}

.background-color-border {
    -fx-background-color: #FFFFFF;
}

.mouse-moved:hover{
    -fx-background-color: #DBD4D3;
}